@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #121212;
}
html {
  font-family: "poppins", sans-serif;
  color: white;
}

main {
  background-color: #121212;
}
span {
  color: #e8bd00;
}
/* 
::-webkit-scrollbar {
  width: 40px;
  height: 40px;
}

::-webkit-scrollbar-track {
  background: orange;
}

::-webkit-scrollbar-thumb {
  background-color: blue;
  border-radius: 0px;
  border: 0px solid orange;
} */

p {
  font-weight: 300 !important;
}

em {
}
