#player-background {
  position: relative;
}

#player-background::after {
  content: " ";
  position: absolute;
  bottom: -1px;
  left: 0px;
  height: 400px;
  width: 100vw;
  background: linear-gradient(
    180deg,
    rgba(255, 204, 30, 0) 0%,
    rgba(19, 19, 19, 1) 100%
  );
}

#player-background::before {
  content: " ";
  position: absolute;
  top: -100%;
  left: 0px;
  height: 100%;
  width: 100vw;
  background: linear-gradient(
    0deg,
    rgba(255, 204, 30, 0) 0%,
    rgba(19, 19, 19, 0.8) 100%
  );
  animation-name: PseudoGradientBefore;
  animation-duration: 6s;
  animation-delay: 6s;
  animation-fill-mode: forwards;
  transition: 2s;
}

@keyframes PseudoGradientAfter {
  to {
    background: linear-gradient(
      180deg,
      rgba(255, 204, 30, 0) 0%,
      rgba(19, 19, 19, 1) 100%
    );
  }
}

@keyframes PseudoGradientBefore {
  to {
    top: 0px;
  }
}

#content1 {
  opacity: 0;
  animation: opacity;
  animation-duration: 3;
  animation-delay: 6s;
  animation-fill-mode: forwards;
  transition: 1s;
}

@keyframes opacity {
  to {
    opacity: 1;
  }
}

#SocialMediaEmpresas {
  background-image: url("./../../../img/social-media/media.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

#SocialMediaEmpresas::after {
  content: " ";
  position: absolute;
  top: 0px;
  left: 0px;
  height: 340px;
  width: 100vw;
  background: linear-gradient(
    0deg,
    rgba(255, 204, 30, 0) 0%,
    rgba(19, 19, 19, 1) 100%
  );
}

#camBackground {
  background-image: url("./../../../img/social-media/Fotografia.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
